body {
    background-color: bisque;
}

h1,
h2,
p {
    text-align: center;
}

footer {
    text-align: center;
}

.email {
    text-decoration: none;
    color: rgb(223, 164, 53);
}

.links {
    color: rgb(211, 159, 104);
    padding: 20px;

}

img {
    max-width: 50%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}